<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crop Prediction System</title>

    <link rel="stylesheet" href="/static/style.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <div class="landing-container">

        

        <!-- CENTER CARDS -->
        <div class="landing-grid">

            <!-- ADMIN -->
            <div class="card modern-card">

                <div class="icon-circle">
                    <i class="fa-solid fa-user-gear"></i>
                </div>

                <h2>Admin Panel</h2>

                <p>
                    Manage users, datasets,
                    and system control
                </p>

                <a href="/admin/" class="btn modern-btn">
                    <i class="fa-solid fa-shield"></i>
                    Open Admin
                </a>

            </div>

            <!-- USER -->
            <div class="card modern-card">

                <div class="icon-circle">
                    <i class="fa-solid fa-user"></i>
                </div>

                <h2>User Panel</h2>

                <p>
                    Predict yield, detect diseases,
                    and view dashboard
                </p>

                <a href="/home/" class="btn modern-btn">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Enter System
                </a>

            </div>

        </div>

    </div>

</body>
</html>