{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register - AgroVision</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="login-section">
    <div class="login-card">

        <h2>🌱 Create Account</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Register</button>
        </form>

        <p style="margin-top:15px; font-size:14px;">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</div>

</body>
</html>